/*
 * Root proeprties
 *
 * White color
 * Knob border color
 * Track stripes color
 */

:root {
    --color-white: #ffffff;
    --knob-border: #c8c8c8;
    --track-color: #c5c5c5;
}

/*
 * General styles
 *
 * Add general styles for svg circles and slider knob
 *
 */

.svg-container {
    max-width: 100%;
    vertical-align: middle;
    transform: rotate(-90deg); /* Orientation */
}

.svg-border-track {
    fill: transparent;
    stroke: var(--track-color);
    stroke-width: 20px; /* Border width */
    stroke-dasharray: 6; /* Border stripes */
}

.svg-progress-indicator {
    fill: transparent;
    stroke-width: 20px; /* Border width */
    stroke-linecap: round;
    stroke-opacity: 0.7;
}

.svg-inner-circle-empty {
    fill: transparent;
    cursor: pointer;
    pointer-events: stroke;
    stroke-width: 20px;
    stroke: transparent;
}

.svg-knob {
    stroke: var(--knob-border);
    fill: var(--color-white);
    stroke-width: 2;
    r: 12px;
    cursor: pointer;
}
