/*
 * Circular slider container style
 */
.circular-slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
 * SVG Cirlce slider styles
 *
 * General styles for svg container, circles and slider knob
 *
 */
.svg-container {
    max-width: 100%;
    vertical-align: middle;
    transform: rotate(-90deg); /* Orientation */
    position: absolute;
    pointer-events: none;
}

.svg-border-track {
    fill: transparent;
    stroke: #c5c5c5;
    stroke-width: 20px; /* Border width */
    stroke-dasharray: 6; /* Border stripes */
}

.svg-progress-indicator {
    fill: transparent;
    stroke-width: 20px; /* Border width */
    stroke-linecap: butt; /* Defining line shape */
    stroke-opacity: 0.7;
}

.svg-track-tap-overlay {
    fill: transparent;
    cursor: pointer;
    pointer-events: stroke;
    stroke-width: 20px;
    stroke: transparent;
}

.svg-knob {
    stroke: #c8c8c8;
    fill: #ffffff;
    stroke-width: 2;
    r: 12px; /* Knob circle radius */
    cursor: pointer;
    pointer-events: all; /* Allow pointer events and override "none" from container */
}
